button {
    color: white;
    background-color: #252525;
    border: solid 1px white;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 20px 0 0;
    transition: ease-in-out .2s;
}

button:hover {
    background-color: #F1356D;
    border: solid 1px #F1356D
}

h2 {
    text-align: center;
}